{% extends "nav.html" %}
{% block content %}

<div class="container">
	<h1>Tips and Tricks to new Python Programmers</h1>
	
	<h3> What is <a href="https://pylint.pycqa.org/en/latest/"> Pylint</a>? </h3>
	
	<p>Pylint is a source-code, bug and quality checker for the Python
	 programming language. In the professional world, Pylint is ued to 
	 unify the style of coding. the reason why it is unified is because 
	 when Developers write code, it is readable and understandable by 
	 other deveoplers that may need to edit/change the code.</p>
	 <p><br>you can intall pylint by visiting this  <a href  = "https://learn.adafruit.com/improve-your-code-with-pylint/install-pylint"> website </a></p>

	 
	 <h3> What is Object Oriented programming 
		 (OOP)? </h3>
	<p> OOP is a computer programming model that organizes software design
		 around data, or objects, rather than functions and logic. 
		 An object can be defined as a data field that has unique 
		 attributes and behavior. So rather than using If-statements, for loops, in
		project, OOP is used to eliminate the usage of them by working around 
		data, and objects.
		<br>
		There are a couple of techniques that are used in OOP such as:
		<br>
		<strong>Factory</strong> a function or method that returns objects of a varying class. Elimantes using the same object<br> 
		<strong>Instantiation</strong>  the creation of a real instance or particular realization of an abstraction or template such as a class of objects<br>
		<strong>Class</strong > a blueprint for creating objects. Integers are built in objects, however we can create our own objects by creating classes <br>
		<strong>Namespace</strong> a collection of currently defined symbolic names along with information about the object that each name references. You can think of a namespace as a dictionary in which the keys are the object names and the values are the objects themselves.<br>
		<strong>Constructor</strong> a special kind of method that Python calls when it instantiates an object using the definitions in your class<br>
		<strong>Fixture</strong>  define the steps and data that constitute the arrange phase of a test<br>
		<strong>Type Hint</strong> formal solution to statically indicate the type of a value within your Python code<br>
		<strong>Type Cast</strong>  the method to convert the variable data type into a certain data type<br>
		<strong>Unit Test</strong> a software testing method by which individual units of source code are put under various tests to determine whether they are fit for use<br>
		<strong>Class Method</strong> method which is bound to the class and not the object of the class<br>
		<strong>Facade</strong>  a structural design pattern that provides a simplified (but limited) interface to a complex system of classes<br>
		<strong>Design Patterns Used</strong> we use Factory designs, Fixture designs, and many others<br>
		<strong>Method</strong> a function that is available for a given object because of the object's type<br>
		<strong>Property</strong> object can be either mutable or immutable based on the type of data they hold <br>
	</p>

</div>
{% endblock %}